{
    "service": {
        "checks": [
{% for query in dnsmasq_monitoring_queries %}
            {
                "args": [
                    "host",
                    "{{ query }}",
                    "localhost"
                ],
                "interval": "60s"
            },
{% endfor %}
        ],
        "enable_tag_override": false,
        "name": "dns-queries",
        "tags": [
            "dns"
        ]
    }
}
